@use 'element-plus/dist/index.css';

html,
body,
#app {
  margin: 0;
  padding: 0;
}

html.dark {
  background: #222;
  color: white;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}

* {
  box-sizing: border-box;
}

:root {
  --el-color-primary: #ff4500;
  --el-border-radius-base: 0px;
}

// 超出两行省略号
.text-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 这里是超出几行省略 */
}
